{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация | Сок</title>
    <link rel="stylesheet" href="{% static 'admin/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/mdb.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'admin/img/favicon.ico' %}"/>
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
      <h1><b>Сок</b></h1>
      <h6>Система Оперативного Контроля</h6>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Регистрация</p>

    <form method="post" action="">
        {% csrf_token %}
        <div class="input-group mb-3 mr-auto">
            {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password1 }}
          <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password2 }}
          <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
          </div>
    </form>
    {{ form.errors }}
      <a href="{% url 'login' %}" class="text-center d-flex justify-content-center">У меня уже есть аккаунт</a>
    </div>
  </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Логин';
    form_fields[2].placeholder='Электронная почта';
    form_fields[3].placeholder='Пароль';
    form_fields[4].placeholder='Подтвердите пароль';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
</body>
</html>
